server
	host 127.0.0.1
	server_name serv1
	port 9090
	client_max_body_size 10000000000000
	location /
		root    /nfs/homes/niboukha/Desktop/webserv/serv1/
		allow_methodes GET POST DELETE
		autoindex on
		index index.html
		upload_pass /nfs/homes/niboukha/Desktop/webserv/serv1
	location /a/
		root    /nfs/homes/niboukha/Desktop/webserv/
		allow_methodes GET POST DELETE
		autoindex on
		cgi_pass .php
	location /aa/
		root    /nfs/homes/niboukha/Desktop/webserv/serv1/aa/
		allow_methodes GET POST DELETE
		autoindex on
		upload_pass /nfs/homes/niboukha/Desktop/webserv/serv2