
server     
	host localhost
	port  8080
	server_name  www.WebServ.com
	error_page 404 ./ErrorPages/404.html
	error_page 501 ./ErrorPages/501.html
	error_page 301 ./ErrorPages/301.html
	error_page 403 ./ErrorPages/403.html
	client_max_body_size 10
	location / 
		root    /nfs/homes/shicham/Desktop/snWebserv
		allow_methodes  GET POST DELETE
		autoindex on
		index
		upload_pass	/nfs/homes/shicham/Desktop/webserv_main
	location /test/
		root    /requests_files
		allow_methodes  GET POST DELETE
		autoindex on
		index index.html
	location /test/souad/
		root    /requests_files
		allow_methodes  GET POST DELETE
		autoindex on
		index   index.html 

