server
	host 127.0.0.1
	port 8080
	client_max_body_size 200000000008888
	location /
		root    ../
		allow_methodes  GET POST DELETE
		autoindex on
		index testing/a
		upload_pass /upload
		cgi_pass    .py
	location /testing/
		root    /nfs/homes/shicham/Desktop/webserv_/
		allow_methodes  GET POST DELETE 
		autoindex on 
		upload_pass /upload
	location /site/
		root    /nfs/homes/shicham/Desktop/webserv_/
		allow_methodes  GET POST DELETE 
		autoindex on 
		index	site/index.html