
server
	host localhost
	port  8080
	server_name  www.WebServ.com
	client_max_body_size 13555255
	location / 
		root    /nfs/homes/niboukha/Desktop/webserv/
		allow_methodes  GET POST DELETE
		autoindex on
		index
		upload_pass /upload
		cgi_pass
	location /test/
		root    /requests_files
		allow_methodes  GET POST DELETE
		autoindex on
		index index.html
		cgi_pass
	location /test/souad/
		root    /requests_files
		allow_methodes  GET POST DELETE
		autoindex on
		index   index.html 
		cgi_pass


