
server
	host localhost
	port  8080
	server_name  www.WebServ.com
	error_page 404 /ErrorPages/404.html
	error_page 501 /ErrorPages/501.html
	error_page 301 /ErrorPages/301.html
	error_page 403 /ErrorPages/403.html
	error_page 204 /ErrorPages/204.html
	error_page 409 /ErrorPages/409.html
	error_page 500 /ErrorPages/500.html
	error_page 413 /ErrorPages/413.html
	error_page 201 /ErrorPages/201.html
	client_max_body_size 13555255
	location / 
		root    /nfs/homes/niboukha/Desktop/webserv/
		allow_methodes  GET POST DELETE
		autoindex on
		index
		upload_pass /upload
		cgi_pass
	location /test/
		root    /requests_files
		allow_methodes  GET POST DELETE
		autoindex on
		index index.html
		cgi_pass
	location /test/souad/
		root    /requests_files
		allow_methodes  GET POST DELETE
		autoindex on
		index   index.html 
		cgi_pass


