server
	host 0.0.0.0
	port  8080
	error_page 403 /nfs/homes/niboukha/Desktop/webserv/UserFiles/403.html
	error_page 201 /nfs/homes/niboukha/Desktop/webserv/UserFiles/201.html
	error_page 404 /nfs/homes/niboukha/Desktop/webserv/UserFiles/404.html
	client_max_body_size 19870998000000
	server_name	localhost
	location / 
		root    /nfs/homes/niboukha/Desktop/webserv/
		allow_methodes  GET POST DELETE
		autoindex on
		index
		upload_pass /upload/
		cgi_pass .py
	location /test/
		root    /requests_files/
		allow_methodes  GET POST DELETE
		autoindex on
		index index.html
		cgi_pass
	location /test/souad/
		root    /requests_files/
		allow_methodes  GET POST DELETE
		autoindex on
		index   index.html 
		cgi_pass
server
	host 172.17.0.1
	port  8080
	error_page 403 /nfs/homes/niboukha/Desktop/webserv/UserFiles/403.html
	error_page 201 /nfs/homes/niboukha/Desktop/webserv/UserFiles/201.html
	error_page 404 /nfs/homes/niboukha/Desktop/webserv/UserFiles/404.html
	client_max_body_size 1987099800
	server_name	www.example.com
	location / 
		root    /nfs/homes/niboukha/Desktop/webserv/
		allow_methodes  GET POST DELETE
		autoindex on
		index
		upload_pass /upload/
		cgi_pass
	location /test/
		root    /requests_files/
		allow_methodes  GET POST DELETE
		autoindex on
		index index.html
		cgi_pass
	location /test/souad/
		root    /requests_files/
		allow_methodes  GET POST DELETE
		autoindex on
		index   index.html 
		cgi_pass
server
	host 172.17.0.1
	port  8080
	error_page 403 /nfs/homes/niboukha/Desktop/webserv/UserFiles/403.html
	error_page 201 /nfs/homes/niboukha/Desktop/webserv/UserFiles/201.html
	error_page 404 /nfs/homes/niboukha/Desktop/webserv/UserFiles/404.html
	client_max_body_size 1987099800
	server_name	localhost
	location / 
		root    /nfs/homes/niboukha/Desktop/webserv/
		allow_methodes  GET POST DELETE
		autoindex on
		index
		upload_pass /upload/
		cgi_pass
	location /test/
		root    /requests_files/
		allow_methodes  GET POST DELETE
		autoindex on
		index index.html
		cgi_pass
	location /test/souad/
		root    /requests_files/
		allow_methodes  GET POST DELETE
		autoindex on
		index   index.html 
		cgi_pass