server
	host 0.0.0.0
	server_name serv1
	port 9090
	client_max_body_size 24
	location /
		root    ./
		allow_methodes GET POST DELETE
		autoindex on
		cgi_pass .php
		upload_pass /nfs/homes/niboukha/Desktop/webserv/serv1
	location /a/
		root    /nfs/homes/niboukha/Desktop/webserv/site/
		allow_methodes GET POST DELETE
		autoindex on
		index index.html
	location /aa/
		root    /nfs/homes/niboukha/Desktop/webserv/
		allow_methodes GET POST DELETE
		autoindex on
		upload_pass /nfs/homes/niboukha/Desktop/webserv/upload/